p.space{
	margin-top: 80px;
}

#questBox{
	position: absolute;
	width: 250px;
	height: 120px;
	background-color: black;
	border: 3px solid #C0C0C0;
	border-radius: 25px;
	font-size: 16px;
	color: white;
	font-family: Geneva, Helvetica, sans-serif;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
}

#exitQuest{
	position: absolute;
	font-size: 22px;
	font-family: Geneva, Helvetica, sans-serif;
	color: white;
	cursor: default;
}

.gameBox{
	background-color: brown;
	height: 643px;
	width: 1000px;
	margin-top: 50px;
	margin-left: 70px;
}

.gameZone{
	background-color: black;
	height: 500px;
	padding: 20px;
}

.statsBar{
	background-color: black;
	width: 1000px;
	height: 100px;
	border-top: 3px solid grey;
	white-space: nowrap;
}

.statsBar div{
}

#task{
	color: white;
	font-family: Geneva, Helvetica, sans-serif;
	font-size: 17pt;
	margin-left: 30px;
	margin-top: 36px;
	display: inline-block;
	width: 710px;
}

#question{
	width: 70px;
	display: inline-block;
}

#question button{
	color: white;
	font-size: 15pt;
	margin-top: 30px;
	height: 40px;
	width: 40px;
	outline: none;
	border: 3px solid #9DB1CC;
	border-radius: 100%;
	background-color: #1B30BB;
}

#question button:hover { background: #3B4FE3}
#question button:active { background: #1B30BB}

#iCant{
	width: 70px;
	display: inline-block;
}

#check{
	width: 150px;
	display: inline-block;
}

#check button{
	color: white;
	font-size: 15pt;
	margin-top: 28px;
	height: 44px;
	width: 150px;
	outline: none;
	border-width: 2px 0;
	border-style: solid none;
	border-color: #00FF00 #000 #18C417;
	border-radius: 6px;
	background: linear-gradient(#00FF00, #1CBB1B) #1CBB1B;
}

#check button:hover { background: linear-gradient(#00FF00, #0AD10A) #00FF00; }
#check button:active { background: linear-gradient(#0AD10A, #00FF00) #0AD10A; }

hr{
	position: absolute;
	background-color: #00CBF9;
	border: 2px solid #00CBF9;
	height: 2px;
	border-radius: 40px;
}